# AI/Gemini
GEMINI.md

# Media/Logs
media/

# Database
db.sqlite3

# Models
*.pt

# Backups/Dumps
employees_backup.json
employees_dump.json
ppe_db.sql

# Environment
env/
**/__pycache__/
*.pyc

# Local Config
.env
